<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chattutorial">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".TutorialApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatTutorial">
        <activity
            android:name=".VideoCallActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:showWhenLocked="true">
            <intent-filter android:priority="1">
                <action android:name="io.getstream.video.android.action.INCOMING_CALL" />
                <action android:name="io.getstream.video.android.action.ONGOING_CALL" />
                <action android:name="io.getstream.video.android.action.ACCEPT_CALL" />
                <action android:name="io.getstream.video.android.action.OUTGOING_CALL" />
                <action android:name="io.getstream.video.android.action.NOTIFICATION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessagesActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MessagesActivity2"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MessagesActivity3"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MessagesActivity4"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ChatTutorial.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
    </queries>

</manifest>